<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>SF movie filming locations</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" type="text/css" href="style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJeTiHs5qcrJw8EOxdIODgCH2zWca9tfo"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.5.0/fuse.min.js"></script>
		<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
		<script src="sfFilming.js"></script>

	</head>
	
	<body ng-app="sfFilming" ng-controller="moviesCtrl">
  
	<nav class="navbar navbar-default navbar-static-top">
		<div class=".container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					San Fransisco movie filming locations
				</a>
			</div>
		</div>
	</nav>

	<!-- Left side column -->
	<div class="col-md-3">
		<div class="form-group">
			<input type="text" class="form-control" id="search-field" placeholder="Search by ..." ng-model="searchQuery" ng-model-options="{debounce:350}">
		</div>
		
		<!-- Warning message when loading or if not sucessful -->
		<div class="list-group" id="list-warning" ng-hide="sucessful">
			<div class="list-group-item">
				<p class="list-group-item-text">{{ infoText }}</p>
			</div>
		</div>
		
		<!-- If search results are empty -->
		<div class="list-group" id="list-warning" ng-show="sucessful && results.length == 0 && searchQuery">
			<div class="list-group-item">
				<p class="list-group-item-text">No result</p>
			</div>
		</div>
		
		<!-- Listing movies -->
		<div class="list-group" id="list-elems" ng-show="sucessful">
		
			<!-- If no search query -->
			<a href="#" class="list-group-item" ng-repeat="m in movies" ng-click="click(m.index)" ng-class="{'active': selected == m.index}" ng-hide="searchQuery" ng-mouseenter="hoverIn(m.index)" ng-mouseleave="hoverOut(m.index)">
				<h4 class="list-group-item-heading">{{ m.title }}</h4>
			</a>
			
			<!-- If search query -->
			<a href="#" class="list-group-item" ng-repeat="m in results" ng-click="click(m.item.index)" ng-class="{'active': selected == m.item.index}" ng-show="searchQuery" ng-mouseenter="hoverIn(m.item.index)" ng-mouseleave="hoverOut(m.item.index)">
				<h4 class="list-group-item-heading" ng-bind-html="m.item.title | highlight:searchQuery"></h4>
				
				<!-- Show only one instance with all results appended (Fuse.js resulting match indexes are buggy) -->
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'locations'} | limitTo:1"><span class="glyphicon glyphicon-map-marker" title="Location"></span><span ng-bind-html="m.item.locations | highlightArray:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'release_year'}"><span class="glyphicon glyphicon-calendar" title="Year"></span><span ng-bind-html="m.item.release_year | highlight:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'production_company'}"><span class="glyphicon glyphicon-home" title="Production company"></span><span ng-bind-html="m.item.production_company | highlight:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'distributor'}"><span class="glyphicon glyphicon-cd" title="Distributor"></span><span ng-bind-html="m.item.distributor | highlight:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'director'}"><span class="glyphicon glyphicon-bullhorn" title="Director"></span><span ng-bind-html="m.item.director | highlight:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'writer'}"><span class="glyphicon glyphicon-pencil" title="Writer"></span><span ng-bind-html="m.item.writer | highlight:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'actor_1'}"><span class="glyphicon glyphicon-user" title="Actor 1"></span><span ng-bind-html="m.item.actor_1 | highlight:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'actor_2'}"><span class="glyphicon glyphicon-user" title="Actor 2"></span><span ng-bind-html="m.item.actor_2 | highlight:searchQuery"></span></p>
				<p class="list-group-item-text" ng-repeat="r in m.matches | filter:{key:'actor_3'}"><span class="glyphicon glyphicon-user" title="Actor 3"></span><span ng-bind-html="m.item.actor_3 | highlight:searchQuery"></span></p>
			</a>
		</div>
	</div>

	<!-- The right part -->
	<div class="col-md-9 visible-md visible-lg" id="map-content">
		<div class="panel panel-default" id="map"></div>
		
		<!-- Container for the detailed informations -->
		<div class="panel panel-default" id="detail-panel" ng-hide="selected == null">
			<div class="panel-heading">
				<h3 class="panel-title">{{ movies[selected].title }}</h3>
			</div>
			
			<div class="panel-body">
				<table class="table table-condensed">
					<tr ng-show="movies[selected].locations[0]">
						<th><span class="glyphicon glyphicon-map-marker" title="Locations"></span></th>
						<td><p class="list-group-item-text" ng-repeat="l in movies[selected].locations track by $index">{{$index+1}} - {{l}} <a uib-popover="{{movies[selected].fun_facts[$index]}}" popover-placement="auto left" popover-append-to-body="true" ng-show="movies[selected].fun_facts[$index]" class="glyphicon glyphicon-star-empty" title="Fun fact"></a></p></td>
					</tr>
					<tr ng-show="movies[selected].release_year">
						<th><span class="glyphicon glyphicon-calendar" title="Year"></span></th>
						<td>{{ movies[selected].release_year }}</td>
					</tr>
					<tr ng-show="movies[selected].production_company">
						<th><span class="glyphicon glyphicon-home" title="Production company"></span></th>
						<td>{{ movies[selected].production_company }}</td>
					</tr>
					<tr ng-show="movies[selected].distributor">
						<th><span class="glyphicon glyphicon-cd" title="Distributor"></span></th>
						<td>{{ movies[selected].distributor }}</td>
					</tr>
					<tr ng-show="movies[selected].director">
						<th><span class="glyphicon glyphicon-bullhorn" title="Director"></span></th>
						<td>{{ movies[selected].director }}</td>
					</tr>
					<tr ng-show="movies[selected].writer">
						<th><span class="glyphicon glyphicon-pencil" title="Writer"></span></th>
						<td>{{ movies[selected].writer }}</td>
					</tr>
					<tr ng-show="movies[selected].actor_1 && movies[selected].actor_2 && movies[selected].actor_3">
						<th><span class="glyphicon glyphicon-user" title="Actors"></span></th>
						<td>{{ movies[selected].actor_1 + ", " + movies[selected].actor_2 + " and " + movies[selected].actor_3 }}</td>
					</tr>
					<tr ng-show="movies[selected].actor_1 && movies[selected].actor_2 && !movies[selected].actor_3">
						<th><span class="glyphicon glyphicon-user" title="Actors"></span></th>
						<td>{{ movies[selected].actor_1 + " and " + movies[selected].actor_2 }}</td>
					</tr>
					<tr ng-show="movies[selected].actor_1 && !movies[selected].actor_2 && !movies[selected].actor_3">
						<th><span class="glyphicon glyphicon-user" title="Actor"></span></th>
						<td>{{ movies[selected].actor_1 }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="modal fade in visible-sm visible-xs col-xs-12" style="display: block;" ng-hide="selected == null">
		<div class="modal-dialog" id="modal-box">    
			<div class="modal-content">   
				<div class="modal-header">
					<h3 class="modal-title">{{ movies[selected].title }}</h3>
				</div>
			
				<div class="modal-body" id="modal-panel">
					<table class="table table-condensed">
						<tr ng-show="movies[selected].locations[0]">
							<th><span class="glyphicon glyphicon-map-marker" title="Locations"></span></th>
							<td><p class="list-group-item-text" ng-repeat="l in movies[selected].locations track by $index">{{$index+1}} - {{l}} <a uib-popover="{{movies[selected].fun_facts[$index]}}" popover-placement="auto bottom" popover-append-to-body="true" ng-show="movies[selected].fun_facts[$index]" class="glyphicon glyphicon-star-empty" title="Fun fact"></a></p></td>
						</tr>
						<tr ng-show="movies[selected].release_year">
							<th><span class="glyphicon glyphicon-calendar" title="Year"></span></th>
							<td>{{ movies[selected].release_year }}</td>
						</tr>
						<tr ng-show="movies[selected].production_company">
							<th><span class="glyphicon glyphicon-home" title="Production company"></span></th>
							<td>{{ movies[selected].production_company }}</td>
						</tr>
						<tr ng-show="movies[selected].distributor">
							<th><span class="glyphicon glyphicon-cd" title="Distributor"></span></th>
							<td>{{ movies[selected].distributor }}</td>
						</tr>
						<tr ng-show="movies[selected].director">
							<th><span class="glyphicon glyphicon-bullhorn" title="Director"></span></th>
							<td>{{ movies[selected].director }}</td>
						</tr>
						<tr ng-show="movies[selected].writer">
							<th><span class="glyphicon glyphicon-pencil" title="Writer"></span></th>
							<td>{{ movies[selected].writer }}</td>
						</tr>
						<tr ng-show="movies[selected].actor_1 && movies[selected].actor_2 && movies[selected].actor_3">
							<th><span class="glyphicon glyphicon-user" title="Actors"></span></th>
							<td>{{ movies[selected].actor_1 + ", " + movies[selected].actor_2 + " and " + movies[selected].actor_3 }}</td>
						</tr>
						<tr ng-show="movies[selected].actor_1 && movies[selected].actor_2 && !movies[selected].actor_3">
							<th><span class="glyphicon glyphicon-user" title="Actors"></span></th>
							<td>{{ movies[selected].actor_1 + " and " + movies[selected].actor_2 }}</td>
						</tr>
						<tr ng-show="movies[selected].actor_1 && !movies[selected].actor_2 && !movies[selected].actor_3">
							<th><span class="glyphicon glyphicon-user" title="Actor"></span></th>
							<td>{{ movies[selected].actor_1 }}</td>
						</tr>
					</table>
				</div>
				
				<div class="modal-footer">        
					<button type="button" class="btn btn-primary" ng-click="selected=null">Close</button>     
				</div>    
			</div>  
		</div>
	</div>
    
	</body>
</html>